<!DOCTYPE html>
<html>
<head>
  <title>Milionaire</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
</head>
<body>
  <div id="app">
    <div class="ui text container grid" style="margin: 50px 0">
      <!-- progress bar -->
      <div class="row">
        <div class="column">
          <sui-progress :percent="percent" indicating></sui-progress>
        </div>
      </div>
      <!-- question list -->
      <div class="row">
        <div class="six wide column">
          <div class="ui vertical steps">
            <div class="step" v-bind:class="{ active: index === current, completed: index < current }" v-for="result, index in results">
              <i class="question icon"></i>
              <div class="content">
                <div class="title">Question {{ index + 1 }}</div>
                <div class="description">Question for {{ (index + 1) * 100 }} $</div>
              </div>
            </div>
          </div>
        </div>
        <!-- question with answer buttons -->
        <div class="ten wide column">
          <div v-if="question" class="ui card one centered">
            <div class="content">
              <div v-html="question.question"></div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div v-on:click="answer" class="ui basic green button">True</div>
                <div v-on:click="answer" class="ui basic red button">False</div>
              </div>
            </div>
          </div>
          <!-- you win! card -->
          <div v-else class="ui card one centered">
            <div class="content">
              <div class="header">You win!!!</div>
            </div>
            <div class="ui extra content">
              <div class="ui two buttons">
                <div class="ui basic primary button">Play again</div>
                <div class="ui basic primary button">Scores</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  Vue.use(SemanticUIVue);

  var app = new Vue({
    el: '#app',
    computed: {
      question() {
        return this.results[this.current]
      },
      percent() {
        return (this.current / this.results.length) * 100;
      },
    },
    methods: {
      answer(ev) {
        if (this.question.correct_answer === ev.target.innerText) {
          this.current += 1;
        } else {
          alert('Wrong Answer!')
        }
      },
    },
    data: {
      current: 0,
      results: [
      {
        "category": "Entertainment: Music",
        "type": "boolean",
        "difficulty": "easy",
        "question": "Eurobeat is primarily an Italian genre of music.",
        "correct_answer": "True",
        "incorrect_answers": [
        "False"
        ]
      },
      {
        "category": "History",
        "type": "boolean",
        "difficulty": "easy",
        "question": "The Spitfire originated from a racing plane.",
        "correct_answer": "True",
        "incorrect_answers": [
        "False"
        ]
      },
      {
        "category": "Entertainment: Video Games",
        "type": "boolean",
        "difficulty": "easy",
        "question": "The game &quot;Battlefield 1&quot; takes place during World War I.",
        "correct_answer": "True",
        "incorrect_answers": [
        "False"
        ]
      },
      {
        "category": "Mythology",
        "type": "boolean",
        "difficulty": "medium",
        "question": "The Japanese god Izanagi successfully returned his wife Izanami from the Underworld.",
        "correct_answer": "False",
        "incorrect_answers": [
        "True"
        ]
      },
      {
        "category": "Politics",
        "type": "boolean",
        "difficulty": "medium",
        "question": "George W. Bush lost the popular vote in the 2004 United States presidential election.",
        "correct_answer": "False",
        "incorrect_answers": [
        "True"
        ]
      }
      ]
    }
  });
</script>
</html>
